@model GPSInformation.Models.IncidenciaVacacion

@{
    ViewData["Title"] = "Crear solicitud de vacaciones";
}

    <div data-label="Crear Nuevo Permiso" class="df-example demo-forms" id="app_createPermiso">
        <h4>I. Solicitante</h4>
        <hr />
        @await Component.InvokeAsync("ValidPuestoEnOrganigrama", new { id = Model.IdPersona })
        @*@await Component.InvokeAsync("EmpleadoBasic", new { id = Model.IdPersona })*@
        <h4>II. Detalle de solicitud</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Inicio" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    @*<input type="hidden" asp-for="IdIncidenciaVacacion" class="form-control" />*@
                    <input type="hidden" asp-for="IdPersona" class="form-control" />
                    <input type="date" asp-for="Inicio" class="form-control" />
                    <span asp-validation-for="Inicio" class="text-danger"></span>
                </div>
                <label asp-for="Fin" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input type="date" asp-for="Fin" class="form-control" />
                    <span asp-validation-for="Fin" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mg-b-0">
                <div class="col-sm-12 text-right">
                    <a href="@Url.Action("Index","Incidencia", new { id = Model.IdPersona })" class="btn btn-sm btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-sm btn-primary">Guardar solicitud</button>
                </div>
            </div>
        </form>
    </div>
