@model GPSInformation.Models.IncidenciaVacacion

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>IncidenciaVacacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdIncidenciaVacacion" class="control-label"></label>
                <input asp-for="IdIncidenciaVacacion" class="form-control" />
                <span asp-validation-for="IdIncidenciaVacacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPersona" class="control-label"></label>
                <input asp-for="IdPersona" class="form-control" />
                <span asp-validation-for="IdPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inicio" class="control-label"></label>
                <input asp-for="Inicio" class="form-control" />
                <span asp-validation-for="Inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fin" class="control-label"></label>
                <input asp-for="Fin" class="form-control" />
                <span asp-validation-for="Fin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoDias" class="control-label"></label>
                <input asp-for="NoDias" class="form-control" />
                <span asp-validation-for="NoDias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreadoPor" class="control-label"></label>
                <input asp-for="CreadoPor" class="form-control" />
                <span asp-validation-for="CreadoPor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estatus" class="control-label"></label>
                <input asp-for="Estatus" class="form-control" />
                <span asp-validation-for="Estatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumAutorizaciones" class="control-label"></label>
                <input asp-for="NumAutorizaciones" class="form-control" />
                <span asp-validation-for="NumAutorizaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

