
@{
    ViewData["Title"] = "Index";
}
    <h2>Index</h2>
@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var controllerAction = this.ViewContext.RouteData.Values["action"].ToString();
}
@await Component.InvokeAsync("Menu", new { controller = controllerName, accion = controllerAction })
