
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Contrato</title>
</head>
<body>
    <p>
        CONTRATO INDIVIDUAL DE TRABAJO POR TIEMPO DETERMINADO, que celebran por una parte como PATRÓN: FIBREMEX, S.A. de C.V.. representada en este acto por el C. RICARDO RAMÍREZ HUERTA., con domicilio en: CARRETERA ESTATAL 431 KM 2 + 200 Int. 28, PARQUE TECNOLÓGICO INNOVACIÓN, EL MARQUÉS, QUERÉTARO. C.P. 76248 y por otra parte, el TRABAJADOR: LUIS ANGEL MARTINEZ HERRERA por su propio derecho, con domicilio en: CARRETERA ESTATAL 431 KM 2 + 200 INT. 28, PARQUE TECNOLÓGICO INNOVACIÓN, EL MARQUÉS, QUERÉTARO. C.P. 76248. quienes se les denominará en el curso del presente contrato "PATRÓN" y "TRABAJADOR", de conformidad con las siguientes declaraciones y cláusulas del presente instrumento.
    </p>
    <br />
    <h3><b>DECLARACIONES</b></h3>
    <p>
        <b>I.- </b>Declara la sociedad mercantil denominada FIBREMEX, S.A. de C.V. a través de su Representante Legal, el Contador Público RICARDO RAMÍREZ HUERTA., bajo protesta de decir verdad:
    </p>
</body>
</html>
