@model GPDataInformation.Models.Puesto

@{
    ViewData["Title"] = "Edit";
}
<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" style="padding-top: 7.5px;">  @ViewData["Title"]</h4>
        <div class="btn-group pull-right">

        </div>
    </div>
    <div class="panel-body" id="list_departammets">
        <div class="panel-body" style="min-height: 214px;">
            <form class="form-horizontal" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DPU" class="control-label col-sm-2"></label>
                    <div class="col-sm-10">
                        <input asp-for="IdPuesto" type="hidden" class="form-control" />
                        <input asp-for="DPU" class="form-control" />
                        <span asp-validation-for="DPU" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label col-sm-2"></label>
                    <div class="col-sm-10">
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DescripcionPuesto" class="control-label col-sm-2"></label>
                    <div class="col-sm-10">
                        <textarea asp-for="DescripcionPuesto" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="DescripcionPuesto" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="IdDepartamento" class="control-label col-sm-2"></label>
                    <div class="col-sm-10">
                        <select asp-for="IdDepartamento" asp-items="ViewBag.Departamentos" class="form-control">
                            <option value="0">Selecciona un departamento</option>
                        </select>
                        <span asp-validation-for="IdDepartamento" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="SalarioMin" class="control-label col-sm-2"></label>
                    <div class="col-sm-10">
                        <input asp-for="SalarioMin" type="number" class="form-control" />
                        <span asp-validation-for="SalarioMin" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="SalarioMax" class="control-label col-sm-2"></label>
                    <div class="col-sm-10">
                        <input asp-for="SalarioMax" type="number" class="form-control" />
                        <span asp-validation-for="SalarioMax" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="HoraEntrada" class="control-label col-sm-2"></label>
                    <div class="col-sm-10">
                        <input asp-for="HoraEntrada" type="time" class="form-control" />
                        <span asp-validation-for="HoraEntrada" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="HoraSalida" class="control-label col-sm-2"></label>
                    <div class="col-sm-10">
                        <input asp-for="HoraSalida" type="time" class="form-control" />
                        <span asp-validation-for="HoraSalida" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="IdUbicacion" class="control-label col-sm-2"></label>
                    <div class="col-sm-10">
                        <select asp-for="IdUbicacion" asp-items="ViewBag.Ubicaciones" class="form-control">
                            <option value="0">Selecciona una ubicacion</option>
                        </select>
                        <span asp-validation-for="IdUbicacion" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="IdPuestoParent" class="control-label col-sm-2"></label>
                    <div class="col-sm-10">
                        <select asp-for="IdPuestoParent" asp-items="ViewBag.Puestos" class="form-control">
                            <option value="0">Puesto raiz</option>
                        </select>
                        <span asp-validation-for="IdPuestoParent" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:0">
                    <div class="col-sm-offset-2 col-sm-10 text-right">
                        <a asp-action="Index" class="btn btn-default" title="Cancelar">Cancelar</a>
                        <button type="submit" class="btn btn-primary" title="Guardar cambios">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

