@model EcomDataProccess.Ecom_ContentFileType

<div id="app_anuncioCreate">
    <div class="br-section-wrapper">
        <div class="table-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-outline active-info flex-column flex-md-row">
                                Agregar nueva sección
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Descripcion" class="control-label"></label>
                                        <input asp-for="Descripcion" class="form-control" />
                                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                                    </div> 
                                    <div class="form-group">
                                        <label asp-for="RuteEcommerce" class="control-label"></label>
                                        <input asp-for="RuteEcommerce" class="form-control" />
                                        <span asp-validation-for="RuteEcommerce" class="text-danger"></span>
                                    </div>
                                    <div class="form-group  float-right">
                                        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                                        <input type="submit" value="Guardar cambios" class="btn btn-success" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

