<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!--configuracion para desarrrollo-->
    <!--<add key="Splinnet_Database" value="Server=192.168.2.29;Port=3306;Database=fibreco_fmx;Uid=fibremex;Pwd=FBSrvAD*0316.;Allow Zero Datetime=True;Convert Zero Datetime=True;Persist Security Info=True"/>
    <add key="SAP_Database" value="Data Source=192.168.2.17;User ID=USR_LECTURA;Password=splitel.lectura16;Initial Catalog=FIBREMX_TEST;Connect Timeout=9000;Persist Security Info=True;MultipleActiveResultSets=true;"/>
    <add key="Ecommerce_Database" value="Server=68.71.58.18;Port=3306;Database=fibremex_b2b_desarrollo;Uid=fibremex_mxgod;Pwd=9Xfs@YBGAG&S;Allow Zero Datetime=True;Convert Zero Datetime=True;Persist Security Info=True"/>
    <add key="Ecommerce_Domain" value="http://fibremex.co/"/>
    <add key="ProductionMode" value="Pruebas"/>
    <add key="FTP_User" value="fibreco"/>
    <add key="FTP_Password" value="spt.f1br3m3X.f1b.CO458#"/>
    <add key="FTP_Server" value="ftp.fibremex.co/"/>-->

    <!--configuracion para pruebas-->
    <add key="Splinnet_Database" value="Server=192.168.2.29;Port=3306;Database=fibreco_fmx;Uid=fibremex;Pwd=FBSrvAD*0316.;Allow Zero Datetime=True;Convert Zero Datetime=True;Persist Security Info=True"/>
    <add key="SAP_Database" value="Data Source=192.168.2.17;User ID=USR_LECTURA;Password=splitel.lectura16;Initial Catalog=FIBREMX_TEST;Connect Timeout=9000;Persist Security Info=True;MultipleActiveResultSets=true;"/>
    <add key="Ecommerce_Database" value="Server=68.71.58.18;Port=3306;Database=fibremex_b2b_test;Uid=fibremex_mxgod;Pwd=9Xfs@YBGAG*S;Allow Zero Datetime=True;Convert Zero Datetime=True;Persist Security Info=True"/>
    <add key="Ecommerce_Domain" value="http://fibremex.co/"/>
    <add key="ProductionMode" value="Pruebas"/>
    <add key="FTP_User" value="fibreco"/>
    <add key="FTP_Password" value="spt.f1br3m3X.f1b.CO458#"/>
    <add key="FTP_Server" value="ftp.fibremex.co/"/>

    <!--configuracion para produccion-->
    <!--<add key="Splinnet_Database" value="Server=192.168.2.29;Port=3306;Database=fibreco_fmx;Uid=fibremex;Pwd=FBSrvAD*0316.;Allow Zero Datetime=True;Convert Zero Datetime=True;Persist Security Info=True"/>
    <add key="SAP_Database" value="Data Source=192.168.2.17;User ID=USR_LECTURA;Password=splitel.lectura16;Initial Catalog=FIBREMEX;Connect Timeout=18000;Persist Security Info=True;MultipleActiveResultSets=true;"/>
    <add key="Ecommerce_Database" value="Server=68.71.58.18;Port=3306;Database=fibremex_b2b_;Uid=fibremex_mxgod;Pwd=9Xfs@YBGAG*S;;Connect Timeout=18000;Allow Zero Datetime=True;Convert Zero Datetime=True;Persist Security Info=True"/>
    <add key="Ecommerce_Domain" value="http://fibremex.com/"/>
    <add key="ProductionMode" value=""/>
    <add key="FTP_User" value="fibremex"/>
    <add key="FTP_Password" value="spt.f1br3m3X.f1b.COM458#"/>
    <add key="FTP_Server" value="ftp.fibremex.com/"/>-->

    <!--mode smtp produccion-->
    <!--<add key="SMTP_Server" value="68.71.58.18"/>
    <add key="SMTP_Port" value="587"/>
    <add key="SMTP_ssl" value="false"/>
    <add key="SMTP_account" value="notificaciones@fibremex.com"/>
    <add key="SMTP_user" value="notificaciones@fibremex.com"/>
    <add key="SMTP_pass" value="N.ecommerceSIS20$20%"/>
    <add key="SMTP_list_Sistemas" value="luis.martinez@splittel.com;jesus.herrera@splittel.com;aaron.cuevas@fibremex.com.mx"/>-->

    <!--mode smtp desarrollo-->
    <add key="SMTP_Server" value="192.168.2.29"/>
    <add key="SMTP_Port" value="25"/>
    <add key="SMTP_ssl" value="false"/>
    <add key="SMTP_account" value="notificaciones@fibremex.com"/>
    <add key="SMTP_user" value="notificaciones@fibremex.com"/>
    <add key="SMTP_pass" value="notificaciones.2017"/>
    <add key="SMTP_list_Sistemas" value="luis.martinez@splittel.com;jesus.herrera@splittel.com;aaron.cuevas@fibremex.com.mx"/>
  </appSettings>
</configuration>