@{
    ViewData["Title"] = "Sin acceso";
}
    <div  id="preloader">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-6 mx-auto">
                    <div class="jumbotron" style="background-color: #fff">
                        <div class="card text-center">
                            <div class="card-header">
                                
                            </div>
                            <div class="card-body">
                                <center><img style="width: 250px;" src="~/images/logo_fibremex.png" alt="Alternate Text" /></center>
                                <p class="card-text mt-5">No tienes acceso a esta sección</p>
                                @Html.ActionLink("Ir a Home", "Index", "Home", null, new { @class = "btn btn-sm btn-primary" })
                            </div>
                            <div class="card-footer text-muted">
                               
                            </div>
                        </div>
                        @*
                        <center><h3 class="mt-5">No tienes acceso a esta sección</h3></center>
                        <center></center>*@
                    </div>
                </div>
            </div>
        </div>
    </div>