@model GPSInformation.Models.Empleado

@{
    ViewData["Title"] = "Create";
}
<div class="alert alert-primary mg-b-0" role="alert">
    Si deseas asginar el siguiente número de nomina consecutivo de acuerdo al tipo de nomina seleccionado, por favor deja en blanco el campo <strong>No.Nomina</strong>
</div>
    <form id="createSplittelEmpleadoForm" >
        <div data-label="Informacion" class="df-example demo-forms">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row form-group">
                <label asp-for="NumeroNomina" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input type="hidden" asp-for="IdPersona" class="form-control" />
                    @*<input type="hidden" asp-for="IdEmpleado" class="form-control" />*@
                    <input type="number" asp-for="NumeroNomina" class="form-control" />
                    <span asp-validation-for="NumeroNomina" class="text-danger"></span>
                </div>
                <label asp-for="TipoNomina" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <select asp-for="TipoNomina" asp-items="ViewBag.TipoNomina" class="form-control select2">
                        <option value="0">Selecciona una opción</option>
                    </select>
                    <span asp-validation-for="TipoNomina" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="IdSociedad" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <select asp-for="IdSociedad" asp-items="ViewBag.Sociedades" class="form-control select2">
                        <option value="0">Selecciona una opción</option>
                    </select>
                    <span asp-validation-for="IdSociedad" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="IdPuesto" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <select asp-for="IdPuesto" asp-items="ViewBag.Puestos" class="form-control select2">
                        <option value="0">Selecciona una opción</option>
                    </select>
                    <span asp-validation-for="IdPuesto" class="text-danger"></span>
                </div>
                <label asp-for="Salario" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input type="number" asp-for="Salario" class="form-control" />
                    <span asp-validation-for="Salario" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="TarjetaAcceso" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input type="number" asp-for="TarjetaAcceso" class="form-control" />
                    <span asp-validation-for="TarjetaAcceso" class="text-danger"></span>
                </div>
                <label asp-for="Placas" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input type="text" asp-for="Placas" class="form-control" />
                    <span asp-validation-for="Placas" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="Ingreso" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input type="date" asp-for="Ingreso" class="form-control" />
                    <span asp-validation-for="Ingreso" class="text-danger"></span>
                </div>
                <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input type="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="Extension" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input type="number" asp-for="Extension" class="form-control" />
                    <span asp-validation-for="Extension" class="text-danger"></span>
                </div>
                <label asp-for="IdEstatus" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <select asp-for="IdEstatus" asp-items="ViewBag.EstatusEmpleado" class="form-control select2">
                        <option value="0">Selecciona una opción</option>
                    </select>
                    <span asp-validation-for="IdEstatus" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mg-b-0">
                <div class="col-sm-12 text-right">
                    <button type="reset" class="btn btn-sm btn-secondary">Cancelar</button>
                    <button type="button" onclick="App_editEmpleado.createSplittelEmpleado()" class="btn btn-sm btn-primary">Guardar información</button>
                </div>
            </div>
        </div>

    </form>
    