<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | Gestión de personal</title>
    <environment include="Development">
        <partial name="_Styles" />
    </environment>
    <environment exclude="Development">
        <partial name="_Styles" />
    </environment>

    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="cm-no-transition cm-1-navbar">
    <div id="cm-menu">
        <nav class="cm-navbar cm-navbar-primary">
            <div class="cm-flex"><a href="index.html" class="cm-logo"></a></div>
            <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
        </nav>
        <partial name="_Slide" />
    </div>
    <partial name="_NavBar" />
    <div id="global">
        <div class="container-fluid">
            <div class="row cm-fix-height">
                <div class="col-sm-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    
    <environment include="Development">
        <partial name="_Scripts" />
    </environment>
    <environment exclude="Development">
        <partial name="_Scripts" />
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
