<header class="navbar navbar-header navbar-header-fixed">
    <a href="" id="sidebarMenuOpen" class="burger-menu"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg></a>
    <div class="navbar-brand">
        <a href="@Url.Action("Index","Home")" class="df-logo">Gestion<span>Personal</span></a>
    </div><!-- navbar-brand -->
    <div id="navbarMenu" class="navbar-menu-wrapper">
        <div class="navbar-menu-header">
            <a href="@Url.Action("Index","Home")" class="df-logo">Gestion<span>Persona</span></a>
        </div><!-- navbar-menu-header -->
        <ul class="nav navbar-menu">
        </ul>
    </div><!-- navbar-menu-wrapper -->
    <div class="navbar-right">
        <a href="http://dribbble.com/themepixels" class="btn btn-social"><i class="fab fa-dribbble"></i></a>
    </div><!-- navbar-right -->
</header>