

<header class="navbar navbar-header navbar-header-fixed">
    <div class="navbar-brand">
        <a href="#" class="df-logo">Gestion<span>Personal</span></a>
    </div><!-- navbar-brand -->
    <div id="navbarMenu" class="navbar-menu-wrapper">
        <div class="navbar-menu-header">
            <a href="#" class="df-logo">Gestion<span>Persona</span></a>
        </div><!-- navbar-menu-header -->
        <ul class="nav navbar-menu">
        </ul>
    </div><!-- navbar-menu-wrapper -->
    <div class="navbar-right">
        <a href="@Url.Action("Create","QuejaPersona")" class="btn btn-buy">
             <span>Reporte</span>
        </a>
    </div><!-- navbar-right -->
</header>