
    <div id="cm-menu-content">
        <div id="cm-menu-items-wrapper">
            <div id="cm-menu-scroller">
                <ul class="cm-menu-items">

                    <li>
                        <!-- <a href="#" class="sf-perfill " style="height: 150px;">$_SESSION[""]</a> -->
                        <img class="img-center" style="margin-left: 51px; margin-top: 5px; width:96px; height: 96px;" src="../../public/Files/Perfil/1024/Captura.PNG">
                        <h5 class="" style="margin-left: 51px; color: #c12035;">JESUS HERRERA</h5>
                        <small style="margin-left: 51px; color:#a5a7aa;">Desarrollador</small>
                        <hr>
                    </li>
                    <li class="active" style="border-top: 1px;"><a href="../Dashboard/" class="sf-dashboard">Dashboard</a></li>

                    <li class="cm-submenu  ">
                        <a class="sf-puzzle">Organigrama<span class="caret"></span></a>
                        <ul>
                            <li class=""><a href="./Sociedad/">Sociedades</a></li>
                            <li class=""><a href="../Organigrama/">Direcciones</a></li>
                            <li class=""><a href="../Organigrama/">Departamentos</a></li>
                            <li class=""><a href="../Organigrama/">Puestos</a></li>
                            <li class=""><a href="../Organigrama/">Organigrama</a></li>
                            
                        </ul>
                    </li>

                    <li class="cm-submenu  ">
                        <a class="sf-monitor">Encuestas<span class="caret"></span></a>
                        <ul>
                            <!-- Si es usuario administrador o Gestión personal -->
                            <li class=""><a href="../Encuestas">Evaluación Reacción</a></li>
                        </ul>
                    </li>

                    <li class="cm-submenu ">
                        <a class="sf-user-male">Empleados<span class="caret"></span></a>
                        <ul>
                            <!-- Si es usuario administrador o Gestión personal -->
                            <li class=""><a href="../Empleados/">Empleados</a></li>
                            <li class=""><a href="../Prospectos/">Prospectos</a></li>
                            <li class=""><a href="../Prenomina/">Prenomina</a></li>
                            <li class=""><a href="../RequisicionPersonal/">Requisición de personal</a></li>
                        </ul>
                    </li>


                    <li class="cm-submenu ">
                        <a class="sf-notepad">Incidencias <span class="caret"></span></a>
                        <ul>
                            <!-- Si es usuario administrador o Gestión personal -->
                            <li class=""><a href="../Incidencias/Periodos.php">Periodos Vacaciones</a></li>
                            <li class=""><a href="../Incidencias/MisSolicitudes.php">Mis Solicitudes</a></li>
                            <li class=""><a href="../Incidencias/Solicitudes.php">Solicitudes por aprobar</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="../Salas/" class=" sf-calendar ">Salas</a></li>
                    <!-- Si es usuario administrador o Gestión personal -->
                    <li class=""><a href="../Configuracion/" class="sf-cog">Configuración</a></li>
                </ul>
            </div>
        </div>
    </div>