@model IEnumerable<GPSInformation.Models.IncidenciaProcess>

@{
    ViewData["Title"] = "Actividad";
}

<ul class="activity  px-4 py-3">
    @foreach (var item in Model)
    {
    <li class="activity-item">

        @if (!item.Revisada)
        {
            <div class="activity-icon bg-primary-light tx-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
            </div>
        }
        else
        {
            @if (item.Autorizada)
            {
                <div class="activity-icon bg-success-light tx-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                </div>
            }
            else
            {
                <div class="activity-icon bg-pink-light tx-pink">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                </div>
            }
        }
        <div class="activity-body">
            <p class="mg-b-2">
                <h4 class="tx-19 mg-b-2">@Html.DisplayFor(modelItem => item.Titulo)</h4>
                @Html.DisplayFor(modelItem => item.NombreEmpleado)
            </p>
            <small class="tx-color-03">
                @if (item.Fecha != null)
                {
                    @Html.Raw(GPSInformation.Herramientas.RelativeTime((DateTime)item.Fecha))
                }
                else
                {

                }
            </small>
        </div><!-- activity-body -->
    </li>
        <!-- activity-item -->
    }

</ul>