@model GPSInformation.Models.IncidenciaPermiso

@{
    ViewData["Title"] = "Detalle del permiso";
}
<h1>¿Deseas aprobar esta solicitud</h1>
    <div data-label="Detalle del permiso" class="df-example demo-forms">
        @await Component.InvokeAsync("ValidPuestoEnOrganigrama", new { id = Model.IdPersona })
        <hr />
        <form id="crearPermiso">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="IdIncidenciaPermiso" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    @*<input type="hidden" asp-for="IdPersona" class="form-control" />*@
                    <input type="number" asp-for="IdIncidenciaPermiso" class="form-control" disabled />
                    <span asp-validation-for="IdIncidenciaPermiso" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Fecha" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    @*<input type="hidden" asp-for="IdPersona" class="form-control" />*@
                    <input type="hidden" asp-for="IdPersona" class="form-control" disabled />
                    <input type="date" asp-for="Fecha" class="form-control" disabled />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Inicio" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input type="time" asp-for="Inicio" class="form-control" disabled />
                    <span asp-validation-for="Inicio" class="text-danger"></span>
                </div>
                <label asp-for="Fin" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input type="time" asp-for="Fin" class="form-control" disabled />
                    <span asp-validation-for="Fin" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="IdAsunto" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="IdAsunto" asp-items="ViewBag.TiposPermisos" disabled onchange="" class="form-control select2">
                        <option value="0">Selecciona una opción</option>
                    </select>
                    <span asp-validation-for="IdAsunto" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="DescripcionAsunto" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <textarea asp-for="DescripcionAsunto" class="form-control" disabled></textarea>
                    <span asp-validation-for="DescripcionAsunto" class="text-danger"></span>
                </div>

            </div>
            @if (Model.IdAsunto == 36)
            {
                <div class="form-group row" id="PermisoPago">
                    <label asp-for="IdPagoPermiso" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <select asp-for="IdPagoPermiso" asp-items="ViewBag.PagoPermisoPersonal" disabled class="form-control select2">
                            <option value="0">Selecciona una opción</option>
                        </select>
                        <span asp-validation-for="IdPagoPermiso" class="text-danger"></span>
                    </div>
                </div>
            }

            @*<div class="form-group row mg-b-0">
                <div class="col-sm-12 text-right">
                    <button type="reset" class="btn btn-sm btn-secondary">Cancelar</button>
                    <button type="button" onclick="app_incidencias.CrearPermiso()" class="btn btn-sm btn-primary">Guardar</button>
                </div>
            </div>*@
        </form>
    </div>
    <div data-label="Acciones" class="df-example demo-forms">
        <div class="form-group row mg-b-0">
            <div class="col-sm-12 text-right">
                @if (ViewBag.ModeAprobar == "1")
                {
                    <a href="@Url.Action("AprobarJefe","Incidencia")" class="btn btn-sm btn-secondary">Atras</a>
                }
                else if (ViewBag.ModeAprobar == "2")
                {
                    <a href="@Url.Action("AprobarGPS","Incidencia")" class="btn btn-sm btn-secondary">Atras</a>
                }
                <a href="@Url.Action("AprobarInc","IncidenciaPermiso", new { id = Model.IdIncidenciaPermiso, Mode = ViewBag.ModeAprobar })" class="btn btn-sm btn-secondary">Aprobar</a>
                <a href="@Url.Action("RechazarInc","IncidenciaPermiso", new { id = Model.IdIncidenciaPermiso, Mode = ViewBag.ModeAprobar })" class="btn btn-sm btn-secondary">Rechazar</a>
            </div>
        </div>
    </div>
        
