@model GestionPersonal.Models.Incidencias

@{
    ViewData["Title"] = "Index";
}
<div id="app_incidencias">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Permisos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Vacaciones</a>
        </li>
    </ul>
    <div class="tab-content bd bd-gray-300 bd-t-0 pd-20" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div id="contactLogs" class="tab-pane pd-20 pd-xl-25 active">
                <div class="d-flex align-items-center justify-content-between mg-b-30">
                    <h4 class="tx-15 mg-b-0">Lista de permisos</h4>
                    <a href="@Url.Action("Create","IncidenciaPermiso", new { id = Model.persona.IdPersona })" class="btn btn-sm btn-white d-flex align-items-center"><i class="icon ion-md-time mg-r-5 tx-16 lh--9"></i>Crear nuevo</a>
                </div>
            </div>
            <div id="table-permisos">
                <partial name="../IncidenciaPermiso/Index" model="Model.permisos" />
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <h6>Profile</h6>
            <p>...</p>
        </div>
    </div>
    <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content tx-14">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel4">Crear incidencia</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="ModalPermiso_content">
                    
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var app_incidencias = new Vue({
            el: "#app_incidencias",
            data: {},
            mounted() { },
            methods: {
            }
        });
    </script>
}