
@{
    ViewData["Title"] = "Complete";
}

<div class="content content-fixed content-auth-alt">
    <div class="container ht-100p tx-center">
        <div class="ht-100p d-flex flex-column align-items-center justify-content-center">
            <div class="wd-70p wd-sm-250 wd-lg-300 mg-b-15"><img src="https://image.freepik.com/vector-gratis/hombre-mirando-traves-binoculares-estamos-contratando-reclutando-negocios-viendo-concepto-vector_53562-9226.jpg" class="img-fluid" alt=""></div>
            <h1 class="tx-color-01 tx-24 tx-sm-32 tx-lg-36 mg-xl-b-5">Formación y Desarrollo agradece tu tiempo y participación, estamos trabajando para ti</h1>
            <h4 class="tx-16 tx-sm-18 tx-lg-20 tx-normal mg-b-20">Esta evaluación ya fue respondida</h4>
            <a href="#" onclick="history.go(-2);" class="btn btn-sm btn-secondary">Finalizar</a>
        </div>
    </div><!-- container -->
</div><!-- content -->
