@model GPDataInformation.Models.InformacionMedica

@{
    ViewData["Title"] = "Create";
}
    <form asp-action="CreateInformacionMedica" class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-lg-6 col-lg-6">
                <label asp-for="IdInformacionMedica" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    @*<input asp-for="IdPersona" type="hidden" class="form-control" />*@
                    <input asp-for="IdInformacionMedica" class="form-control form-control-sm" />
                    <span asp-validation-for="IdInformacionMedica" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-lg-6 col-lg-6">
                <label asp-for="IdPersona" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="IdPersona" class="form-control form-control-sm" />
                    <span asp-validation-for="IdPersona" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="TipoSangre" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <select asp-for="TipoSangre" asp-items="ViewBag.TipoSangre" class="form-control">
                        <option value="0">Selecciona un Tipo Sangre</option>
                    </select>
                    <span asp-validation-for="TipoSangre" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="Alergias" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <select asp-for="Alergias" asp-items="ViewBag.Alergia" class="form-control">
                        <option value="0">Selecciona un estado civil</option>
                    </select>
                    <span asp-validation-for="Alergias" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="Altura" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="Altura" class="form-control form-control-sm" />
                    <span asp-validation-for="Altura" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="Peso" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="Peso" class="form-control form-control-sm" />
                    <span asp-validation-for="Peso" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="Talla" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="Talla" class="form-control form-control-sm" />
                    <span asp-validation-for="Talla" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="IMC" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <input asp-for="IMC" class="form-control form-control-sm" />
                    <span asp-validation-for="IMC" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="Comentarios" class="control-label col-sm-3"></label>
                <div class="col-sm-9">
                    <textarea rows="7" asp-for="Comentarios" class="form-control form-control-sm"  ></textarea>
                    <span asp-validation-for="Comentarios" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group col-lg-6">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </form>

